/* Open Sans - Regular 400 */

@font-face {
  font-family: "OpenSans-Regular";

  src: url("../fonts/OpenSans-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

/* PT Sans - Regular 400 */

@font-face {
  font-family: "PTSans-Regular";

  src: url("../fonts/PTSans-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
